.example-spacer {
  flex: 1 1 auto;
}
mat-sidenav-container{

  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
mat-sidenav{
  width: 200px;
}
.button-text {
  padding-left: 10px;
  padding-right: 15px; /* Add 24px to align the text in the center since the icon's width is 24px */
}
.mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  line-height: 20px;
}
